/*Här ändrar jag alla headings till en annat typsnitt*/
h1,h2,h3,h4,h5,h6{font-family: Arial, Helvetica, sans-serif;}
/*Här ser jag till att dokumentets typsnitt är Verdana, och om användaren inte har detta så blir det sans serif*/
body{font-family: Verdana, sans-serif;}
/*Här ändrar jag bakgrundsfärgen i tabellerna*/
.tabell1{background-color: #ffcccc;}
.tabell2{background-color: #ffcc99;}

/*Här byter jag färget på nedersta texten och byter även färgen på länken så den matchar när musen är över*/
#source{color: #009900;}
#source a:hover{color: #009900;}